<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>审核列表(供应商)</title>
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/default/easyui.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/easyui/themes/icon.css}">
    <script type="text/javascript" th:src="@{/easyui/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/easyui/jquery.easyui.min.js}"></script>
    <script type="text/javascript">
        //工具栏
        var toolbar = [{
            text: '添加',
            iconCls: 'icon-edit',
            handler: function () {
                $('#dd').dialog('open');
            }
        }];
        $(function () {
            $('#booklist').datagrid({
                title: '审核列表',
                iconCls: 'icon-save',
                url: '/examine/findByParameter',
                columns: [
                    [
                        {
                            field: 'title', title: '审核标题', width: 100, align: 'center',
                            formatter: function (value, row, index) {
                                return "审核《" + value +"》";
                            }
                        },
                        {
                            field: 'flag', title: '审核状态', width: 80, align: 'center',
                            formatter: function (value, row, index) {
                                if (value == 1) {
                                    return "通过";
                                }
                                if (value == 2) {
                                    return "不通过";
                                }
                                if (value == 3) {
                                    return "待审核";
                                }
                            }
                        },
                        {field: 'info', title: '审核详情', width: 200, align: 'center'},
                        {
                            field: 'book',
                            title: '书籍详情',
                            width: 200,
                            align: 'center',
                            //value :当前属性值
                            //row ： 当前行对象
                            //index：当前行号
                            formatter: function (value, row, index) {
                                return "<a href='javascript:showbook(" + row.id + ")'>查看</a>";
                            }
                        }
                    ]
                ],
                toolbar: toolbar,
                pagination: true,//表示在datagrid设置分页
                pageSize: 5,
                singleSelect: true,
                pageList: [5, 10, 20]
            });

            //初始化查询栏
            $("#submit_search").linkbutton({iconCls: 'icon-search', plain: true})
                .click(function () {
                    $('#booklist').datagrid("load", {
                        "bookName": $("#search-bookName").val(),
                        "ISBN": $("#search-ISBN").val()
                    });   //点击搜索
                });

            //初始化修改窗口
            $('#dd').dialog({
                title: 'My Dialog',
                width: 700,
                height: 500,
                closed: true,
                cache: false,
                href: '',
                modal: true,
                iconCls: 'icon-save',
                buttons: [{
                    text: '提交',
                    iconCls: 'icon-ok',
                    handler: function () {
                        var formdata = new FormData();
                        var f = $("#file")[0].files[0];
                        formdata.append("file", f);
                        formdata.append("bookName", $("#bookName").val());
                        formdata.append("ISBN", $("#ISBN").val());
                        formdata.append("unitPrice", $("#unit-price").val());
                        formdata.append("number", $("#number").val());
                        formdata.append("groupPrice", $("#group-price").val());
                        formdata.append("layout", $("#layout").val());
                        formdata.append("register", $("#register").val());
                        formdata.append("weight", $("#weight").val());
                        formdata.append("bookIntroduce", $("#bookIntroduce").val());
                        formdata.append("authorIntroduce", $("#authorIntroduce").val());
                        $.ajax({
                            type: "post",
                            url: "/examine/add",
                            data: formdata,
                            dataType: "json",
                            processData: false,
                            contentType: false,
                            success: function (result) {
                                if (result.code == "101") {
                                    alert(result.msg);
                                    $('#dd').dialog('close');
                                    $('#booklist').datagrid("reload");
                                } else {
                                    alert(result.msg);
                                }

                            }
                        });
                    }
                }, {
                    text: '关闭',
                    handler: function () {
                        $('#dd').dialog('close');
                    }
                }]
            });
            //初始化修改窗口
            $('#dd2').dialog({
                title: 'My Dialog',
                width: 700,
                height: 500,
                closed: true,
                cache: false,
                href: '',
                modal: true,
                iconCls: 'icon-save',
                buttons: [{
                    text: '关闭',
                    handler: function () {
                        $("#b-bookName").textbox("setValue", "");
                        $("#b-ISBN").textbox("setValue", "");
                        $("#b-unit-price").textbox("setValue", "");
                        $("#b-number").textbox("setValue", "");
                        $("#b-group-price").textbox("setValue", "");
                        $("#b-layout").textbox("setValue", "");
                        $("#b-register").textbox("setValue", "");
                        $("#b-weight").textbox("setValue", "");
                        $("#b-bookIntroduce").textbox("setValue", "");
                        $("#b-authorIntroduce").textbox("setValue", "");
                        $("#b-file").attr("src", "");
                        $('#dd2').dialog('close');
                    }
                }]
            });


        });

        function showbook(id) {
            console.log(id);
            $.ajax({
                type: "post",
                url: "/examine/findById",
                data: {"examineId": id},
                dataType: "json",
                success: function (result) {
                    console.log(result);
                    if (result.code == "101") {
                        $("#b-bookName").textbox("setValue", result.obj.book.bookName);
                        $("#b-ISBN").textbox("setValue", result.obj.book.isbn);
                        $("#b-unit-price").textbox("setValue", result.obj.book.price);
                        $("#b-number").textbox("setValue", result.obj.number);
                        $("#b-group-price").textbox("setValue", result.obj.book.groupPrice);
                        $("#b-layout").textbox("setValue", result.obj.book.layout);
                        $("#b-register").textbox("setValue", result.obj.book.register);
                        $("#b-weight").textbox("setValue", result.obj.book.weight);
                        $("#b-bookIntroduce").textbox("setValue", result.obj.book.bookIntroduce);
                        $("#b-authorIntroduce").textbox("setValue", result.obj.book.authorIntroduce);
                        $("#b-file").attr("src", "http://127.0.0.1:8080/images/" + result.obj.book.imgurl);
                        $('#dd2').dialog('open');
                    }
                }
            });
        }
    </script>
</head>
<body>
<form name="searchform" method="post" action="" id="searchform">
    <td width="70" height="30"><strong>审核查询：</strong></td>
    <td height="30">
        <input type="text" id="search-bookName" size=20 placeholder="书籍名称"/>
        <input type="text" id="search-ISBN" size=20 placeholder="ISBN"/>
    </td>
    <td>
        <button id="submit_search" type="button">查询</button>
    </td>
</form>
<table id="booklist"></table>
<div id="dd">
    <div align="center" style="margin-top: 30px">
        <form method="post">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="bookName" style="width:50%"
                       data-options="label:'书籍名称:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="ISBN" style="width:50%"
                       data-options="label:'ISBN:',required:true,validType:'email'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="unit-price" style="width:50%"
                       data-options="label:'单价:',required:true,validType:'email'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="number" style="width:50%"
                       data-options="label:'数量:',required:true,validType:'email'">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="group-price" style="width:50%"
                       data-options="label:'团购价:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="layout" style="width:50%" data-options="label:'版次:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="register" style="width:50%" data-options="label:'册数:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="weight" style="width:50%" data-options="label:'重量:',required:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="bookIntroduce" style="width:50%;height:60px"
                       data-options="label:'书籍简介:',multiline:true">
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="authorIntroduce" style="width:50%;height:60px"
                       data-options="label:'作者简介:',multiline:true">
            </div>
            <div style="margin-bottom:20px">
                封面图片:&nbsp;&nbsp;&nbsp;&nbsp; <input id="file" type="file"/>
            </div>
        </form>
    </div>
</div>

<div id="dd2">
    <div align="center" style="margin-top: 30px">
        <form method="post">
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-bookName" style="width:50%"
                       data-options="label:'书籍名称:',required:true" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-ISBN" style="width:50%"
                       data-options="label:'ISBN:',required:true,validType:'email'" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-unit-price" style="width:50%"
                       data-options="label:'单价:',required:true,validType:'email'" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-number" style="width:50%"
                       data-options="label:'数量:',required:true,validType:'email'" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-group-price" style="width:50%"
                       data-options="label:'团购价:',required:true" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-layout" style="width:50%" data-options="label:'版次:',required:true"
                       readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-register" style="width:50%"
                       data-options="label:'册数:',required:true" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-weight" style="width:50%" data-options="label:'重量:',required:true"
                       readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-bookIntroduce" style="width:50%;height:60px"
                       data-options="label:'书籍简介:',multiline:true" readonly>
            </div>
            <div style="margin-bottom:20px">
                <input class="easyui-textbox" id="b-authorIntroduce" style="width:50%;height:60px"
                       data-options="label:'作者简介:',multiline:true" readonly>
            </div>
            <div style="margin-bottom:20px">
                封面图片:&nbsp;&nbsp;&nbsp;&nbsp;
                <img src="" id="b-file" alt="图片未上传">
            </div>
        </form>
    </div>
</div>

</body>
</html>